<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="images/favicon.png">
      <title>Growth Mission</title>
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/common.css" rel="stylesheet">
      <link href="css/onboarding.css" rel="stylesheet">
      <link href="css/onboarding-responsive.css" rel="stylesheet">
   </head>
   <body class="onboarding-bg">
      <div class="form-box-padding invite-code-page">
         <div class="container">
            <div class="formwhitebg sm-box-width form-secton">
               <div class="form-logo text-center"><img src="images/gray-logo.svg" alt=""></div>
               <div class="form-title">
                  <h3 class="ft-w-600">Enter invite code</h3>
                  <p>Invite code is 6 characters long and contains combination of letters and numbers</p>
               </div>   
               <div class="on-bording-form-part">
                  <form class="items-center">
                      <div class="mb-4">
                        <ul class="otpinput">
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                           <li>
                              <input type="text" maxlength="1">
                           </li>
                        </ul>
                     </div>
                     <div class="forget-a text-center">
                        <p><a href="">How to get invite code?</a></p>
                     </div>

                    
                  </form>
              </div>
            </div>
         </div>
      </div>
      <script src="js/jquery-3.7.1.min.js"></script> 
      <script src="js/bootstrap.bundle.min.js"></script>
   </body>
</html>
