<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="images/favicon.png">
      <title>Growth Mission</title>
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/common.css" rel="stylesheet">
      <link href="css/onboarding.css" rel="stylesheet">
      <link href="css/onboarding-responsive.css" rel="stylesheet">
   </head>
   <body class="onboarding-bg">
      <header class="onboarding-header">
         <div class="header-logo"><a href=""><img src="images/white-logo.svg" alt=""></a></div>
         <div class="logoutbtn">
            <a class="mobile-logout-btn" href="login.html"><img src="images/user-logout-icon.svg" alt=""></a>
         </div>
      </header>
      <div class="form-box-padding register-sec">
         <div class="container">
            <div class="formwhitebg personal-cont-width form-secton">
               <div class="mb-4 text-center conf-icon-img pt-3 pb-2"><img src="images/haze-hourglass-icon.svg" alt=""></div>
               <div class="form-title form-title mb-1 conf-text">
                  <h3 class="pb-1">We are confirming things on our end!</h3>
                  <p>Our team is currently confirming the information you've provided, checking the payment, and ensuring the agreement is completed.</p>
                  <p>Once this has been confirmed, you will receive an email from us to continue your onboarding. This typically takes a few hours.</p>
               </div>   
               
            </div>
         </div>
         <div class="create-account-btn">
            <div class="container">
               <ul>
                  <li>
                     <span class="btn-checked">Create Account</span>
                  </li>
                  <li>
                     <span class="btn-checked">Contact Details</span>
                  </li>
                  <li>
                     <span class="active">Choose Plan</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <script src="js/jquery-3.7.1.min.js"></script> 
      <script src="js/bootstrap.bundle.min.js"></script>
   </body>
</html>
