<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="images/favicon.png">
      <title>Growth Mission</title>
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/common.css" rel="stylesheet">
      <link href="css/onboarding.css" rel="stylesheet">
      <link href="css/onboarding-responsive.css" rel="stylesheet">
   </head>
   <body class="onboarding-bg">
      <header class="onboarding-header">
         <div class="login-author-name">Logged in as: George Robinson</div>
         <div class="header-logo"><a href=""><img src="images/white-logo.svg" alt=""></a></div>
         <div class="logoutbtn">
            <a class="dashboard-logout-btn" href="login.html"><img src="images/logout-icon.svg" alt=""> Log out</a>
            <a class="mobile-logout-btn" href="login.html"><img src="images/user-logout-icon.svg" alt=""></a>
         </div>
      </header>

      <div class="form-box-padding header-PTB">
         <div class="container">
            <div class="formwhitebg xl-box-width form-secton select-company-sec">
               <div class="form-title">
                  <h3 class="ft-w-600">Please select a company</h3>
               </div> 
               <div class="select-company-list mb-4">
                  <ul>
                     <li>
                        <div class="select-company-name form-check">
                           <input id="select-company-1" class="form-check-input" name="company" type="radio">
                           <label for="select-company-1" class="form-label form-check-label opacity-90">ABC Roofing Ltd</label>
                        </div>
                        <div class="active-d-active-btn">
                           <span>Active</span>
                        </div>
                     </li>
                  </ul>
               </div>  
               <div class="mb-4 create-new-company-link">
                  <a href=""><img src="images/plus-icon.svg" alt=""> Create new company</a>
               </div>
               <div>
                 <a class="btn btn-primary btn-full" href="">Next</a>
               </div>
              
            </div>
         </div>
      </div>
      <script src="js/jquery-3.7.1.min.js"></script> 
      <script src="js/bootstrap.bundle.min.js"></script>
   </body>
</html>
